body {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(assets/images/world.png);
    background-position: center;
    background-size: auto;
    font-family: sans-serif;
    text-align: center;
}
.heading {
    text-align: center;
    font-size: 2.5rem;
}
.quiz {
    background-color: blue;
    box-sizing: border-box;
    width: 90%;
    height: 65vh;
    max-height: 450px;
    max-width: 800px;
    margin: auto;
    padding: 2%;
}